body{
    background-color: #84808040;
    margin:0
}

#container{
    width: 1280px;
    /* height: 500px; WE NEVER RESTRICT OUR CONTAINER HEIGHT*/
    margin: auto;
    padding: 0;
    background-color: #7e78787d;
}

#header{
    width:100%;
    height: 120px;
    background-color: lightblue;
}

#logo{
    height: 100%;
    width: 25%;
    background-color: blue;
    float:left;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

#logo img{
    height: 100px;
    width: 100px;
}

#slogan{
    height: 100%;
    width: 75%;
    background-color: blueviolet;
    float: right;
}

#slogan h1{
    text-align: center;
    margin-top: 40px;
}

#slogan img{
    width: 100%;
    height: 100%;
}


#nav{
    width: 100%;
    height: 50px;
    background-color: #6a74c4;
}

#article{
    width:70%;
    height:900px;
    background-color:#d4d5de;
    float:left  /* Makes it fits left of sidebar*/
}

#sidebar{
    width: 30%;
    height: 900px;
    background-color: rgb(66, 66, 205);
    float: right;  /* Makes it fit right of article */
}

#footer{
    width: 100%;
    height: 40px;
    background-color: black;
    clear: both;  /* It makes the footer not float and stay bellow */ 

}