body{
    background-color: #84808040;
    margin:0
}

input, textarea, select{
    color: blue;
    font-size: 10px;
}

input[type=radio]{
    width: 15px;
    height: 15px;
}

input[type=submit]{
    border-radius: 12px;
}
#container{
    width: 1280px;
    /* height: 500px; WE NEVER RESTRICT OUR CONTAINER HEIGHT*/
    margin: auto;
    padding: 0;
    background-color: #7e78787d;
}


/* ------------------------------------------------------------------ */


header{
    width:100%;
    height: 120px;
    background-color: lightblue;
}

/* ------------------------------------------------------------------ */


slogan{
    height: 100%;
    width: 75%;
    background-color: blueviolet;
    float: right;
}

/* ------------------------------------------------------------------ */


nav{
    width: 100%;
    height: 50px;
    background-color: #6a74c4;
}


/* ------------------------------------------------------------------ */


article{
    width:70%;
    height:900px;
    background-color:#d4d5de;
    float:left;  /* Makes it fits left of sidebar*/
    padding: 0;
}


/* ------------------------------------------------------------------ */


aside{
    width: 30%;
    height: 900px;
    background-color: rgb(66, 66, 205);
    float: right;  /* Makes it fit right of article */
}

/* ------------------------------------------------------------------ */


footer{
    width: 100%;
    height: 40px;
    background-color: black;
    clear: both;  /* It makes the footer not float and stay bellow */ 

}
